
<div class="page-header">
    <h3></h3>
    <a class="fancybox btn btn-primary" ng-click="addNewGoalClick()">Add new goal</a>
</div>

<div class="row">
    <div class="col-sm-4">

        <h1 class="text-center col-title">Waiting goals</h1>
       
        <div ng-repeat="goal in goals.waiting_goals" class="goal_listing">
            <div class="goal thumbnail "> 
                <div class="row container-fluid"> 

                <div class="col-xs-9 col-xs-offset-1 thumbnail-left">
                    <h3> {{goal.title}} </h3>

                    <p class="goal_description">
                        {{goal.description}}
                    </p>

                    <span ng-hide="{{goal.done_percent == ''}}">
                        Accomplished in {{done.done_percent}} %
                    </span>

                </div>
                <div class="col-xs-2 thumbnail-right">
                    <a class="btn btn-sm btn-primary pull-right" ng-click="toggleActive(goal)">
                        >>
                    </a>
                </div>

                </div>
                <div class="row">
                    <div class="col-sm-2" ng-show="goal.file.url">
                        <span class="label label-default attachment pull-left" >
                            <small>File</small>
                            <i class="fa fa-paperclip"></i>
                        </span>
                    </div>
                    <div class="col-sm-2" ng-show="findCategoryById(goals.categories,goal.category_id)">
                        <span class="label label-primary goal_category attachment  pull-left" >
                        {{ findCategoryById(goals.categories,goal.category_id) }}
                        </span>
                    </div>
                    <div class="col-sm-8 pull-right text-right">
                        <a class="btn btn-sm btn-info" href="#/goal/{{goal.id}}">Details</a>
                        <a class="btn btn-sm btn-default" ng-click="editGoalClick(goal)">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    <div class="col-sm-4">

        <h1 class="text-center col-title">Active goals</h1>

        <div ng-repeat="goal in goals.active_goals" class="goal_listing">
            <div class="goal thumbnail"> 
                <div class="row container-fluid"> 
                    <div class="col-sm-2 thumbnail-left-toggle pull-left">
                        <a class="btn btn-sm btn-warning pull-left" ng-click="toggleActive(goal)">
                            <<
                        </a>
                    </div>
                    <div class="col-xs-8  thumbnail-left">
                        <h3> {{goal.title}} </h3>
          
                        <p class="goal_description">
                            {{goal.description}}
                        </p>

                        <span ng-hide="{{goal.done_percent == ''}}">
                            Accomplished in {{done.done_percent}} %
                        </span>

                    </div>
                    <div class="col-xs-2 thumbnail-right">
                        <a class="btn btn-sm btn-primary pull-right" ng-click="toggleDone(goal)">
                            >>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2" ng-show="goal.file.url">
                        <span class="label label-default attachment pull-left" >
                            <small>File</small>
                            <i class="fa fa-paperclip"></i>
                        </span>
                    </div>
                    <div class="col-sm-2" ng-show="findCategoryById(goals.categories,goal.category_id)">
                        <span class="label label-primary goal_category attachment  pull-left" >
                        {{ findCategoryById(goals.categories,goal.category_id) }}
                        </span>
                    </div>
                    <div class="col-sm-8 pull-right text-right">
                        <a class="btn btn-sm btn-info" href="#/goal/{{goal.id}}">Details</a>
                        <a class="btn btn-sm btn-default" ng-click="editGoalClick(goal)">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
    
        <h1 class="text-center col-title">Achieved goals</h1>

        <div ng-repeat="goal in goals.achieved_goals" class="goal_listing">
            <div class="goal thumbnail"> 
                <div class="row container-fluid"> 
                    <div class="col-sm-2 thumbnail-left-toggle pull-left">
                        <a class="btn btn-sm btn-warning pull-left" ng-click="toggleDone(goal)">
                            <<
                        </a>
                    </div>
                    <div class="col-sm-8 thumbnail-left">
                        <h3> {{goal.title}} </h3>
          
                        <p class="goal_description">
                            {{goal.description}}
                        </p>

                        <span ng-hide="{{goal.done_percent == ''}}">
                            Accomplished in {{done.done_percent}} %
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2" ng-show="goal.file.url">
                        <span class="label label-default attachment pull-left" >
                            <small>File</small>
                            <i class="fa fa-paperclip"></i>
                        </span>
                    </div>
                    <div class="col-sm-2" ng-show="findCategoryById(goals.categories,goal.category_id)">
                        <span class="label label-primary goal_category attachment  pull-left" >
                        {{ findCategoryById(goals.categories,goal.category_id) }}
                        </span>
                    </div>
                    <div class="col-sm-8 pull-right text-right">
                        <a class="btn btn-sm btn-info" href="#/goal/{{goal.id}}">Details</a>
                        <a class="btn btn-sm btn-default" ng-click="editGoalClick(goal)">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
