<div class="row">
    <div class="col-sm-4">
        <h2>Waiting goals</h2>
        <div ng-repeat="goal in goals">
            <h3> {{goal.title}} </h3>
            <span><a href="#/goal/{{goal.id}}">link</a></span>
            <p>
            	{{goal.description}}
            </p>
            <span>Active: {{goal.active}}</span>
            <span>Done: {{goal.done}}</span>
            <span>Done %: {{done.done_percent}}</span>
            <br/>
            <span>Show, Edit, Delete</span>
        </div>
    </div>

    <div class="col-sm-4">
        <h2>Active goals</h2>
        <div ng-repeat="goal in goals">
            <h3> {{goal.title}} </h3>
            <span><a href="#/goal/{{goal.id}}">link</a></span>
            <p>
                {{goal.description}}
            </p>
            <span>Active: {{goal.active}}</span>
            <span>Done: {{goal.done}}</span>
            <span>Done %: {{done.done_percent}}</span>
            <br/>
            <span>Show, Edit, Delete</span>
        </div>
    </div>

    <div class="col-sm-4">
        <h2>Done goals</h2>
        <div ng-repeat="goal in goals">
            <h3> {{goal.title}} </h3>
            <span><a href="#/goal/{{goal.id}}">link</a></span>
            <p>
                {{goal.description}}
            </p>
            <span>Active: {{goal.active}}</span>
            <span>Done: {{goal.done}}</span>
            <span>Done %: {{done.done_percent}}</span>
            <br/>
            <span>Show, Edit, Delete</span>
        </div>
    </div>
</div>




    <form ng-submit="addGoal()">
        <h3>Add a new Goal</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="title"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="description"
          ng-model="description"></input>
        </div>
        <button type="submit" class="btn btn-primary">Goal</button>
    </form>