<h3>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
</h3>

<div class="row">

    <div class="col-sm-3 prev_goal" >
        <div ng-show="prev_goal.id > 0" ng-click="goToPrevGoal() "class="panel panel-default">
            <div class="panel panel-body">
                <h3>{{prev_goal.title}}</h3>
                <p class="goal_description">
                    {{prev_goal.description}}
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 this_goal" ngf-drop ng-model="files" class="drop-box" 
        ngf-drag-over-class="drop_zone" ngf-multiple="false" ngf-allow-dir="true"
        ngf-accept="'image/*,application/pdf'" ngf-reset-on-click="true">

        <div class="panel panel-default">
            <div class="panel panel-body">
                <div class="row ">
                    <div class="col-sm-8 ">
                        <h3 class="goal_title">{{goal.title}}</h3>
                        <p class="goal_description">
                            {{goal.description}}
                        </p>
                    </div>
                    <div  class="col-sm-4 text-right">
                        <div class="files_container">
                            <button class="btn btn-sm btn-success" ngf-select ng-model="files" ngf-change="upload(files)" ngf-multiple="false" ngf-keep-distinct="true">Upload File</button><br/>
                            <small>or you can drag and drag and drop it here</small>
                        </div>
                    </div>
                    <div class="col-sm-7 top_line">
                        <p>
                            This goal is
                            <span class="waiting" ng-if="goal.active == false">Waiting</span>
                            <span class="active" ng-if="goal.active == true && goal.done == false">Active</span>
                            <span class="achieved" ng-if="goal.done == true">Achieved</span>
                        </p>

                        And it is done in:
                        <div ng-if="goal.done_percent > -1" class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{goal.done_percent}}" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                            {{goal.done_percent}}%
                            </div>   
                        </div>
                    </div>
                    <div class="col-sm-5 goal_timestamp top_line">
                            <b>{{goal.user.email}}</b><br/>
                            {{goal.created_at | date: 'fullDate'}}<br/>
                    </div>
                    <div class="col-sm-7">
                        <h4> 
                            <p>
                            <span class="label label-primary goal_category">
                            {{goal.category.title}}
                            </span>
                            <p/>
                            <br/>
                        </h4>
                    </div>
                    <div class="col-sm-5 buttons_container">
                        <a class="btn btn-default" ng-click="editGoalClick(goal)">Edit</a>
                        <a ng-click="deleteGoalClick()" class="btn btn-danger">
                            <i class="fa fa-trash-o"></i>&nbsp Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 next_goal">
        <div ng-show="next_goal.id > 0" ng-click="goToNextGoal()" class="panel panel-default">
            <div class="panel panel-body">
                <h3>{{next_goal.title}}</h3>
                <p class="goal_description">
                        {{next_goal.description}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-centered" ng-show="goal.file.url && !files[0]">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                Attached file:
                <i class="fa fa-times pull-right destroy_button" ng-click="deleteGoalFile()">
                </i>
            </div>
            <div class="panel-body>">
            <a href="{{goal.file.url}}" download>
                <img src="{{goal.file.url}}" ngf-accept="'image/*'" class="file_image">
            </a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-centered" ng-show="files[0]">
        <div class="panel panel-success text-center">
            <div class="panel panel-heading">
                New file attached:
            <i class="fa fa-times pull-right destroy_button" ng-click="deleteGoalFile()">
            </i>
            </div>
            <img ngf-src="files[0]" ngf-accept="'image/*'" class="image_preview">
        </div>
    </div>
</div>
