<div id="add_goal_form">
    
    <form ng-submit="addGoal()">
        <span class="modal_errors">{{errors.title[0]}}</span>
        <div class="form-group">
            <input type="text"
                class="form-control"
                placeholder="Title"
                ng-model="title"></input>
        </div>

        <span class="modal_errors">{{errors.description[0]}}</span>
        <div class="form-group">
            <textarea type="text"
                rows="4" cols="50"
                class="form-control"
                placeholder="description"
                ng-model="description"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Goal</button>
    </form>

</div>