<div id="modal_edit_goal">
    
    
    <form ng-submit="updateGoal()">
       
       <span class="modal_errors">{{errors.title[0]}}</span>
        <div class="form-group">
            <input type="text"
                class="form-control"
                placeholder="Title"
                ng-model="goal.title"></input>
        </div>
        
        <span class="modal_errors">{{errors.description[0]}}</span>
        <div class="form-group">
            <textarea type="text"
                rows="4" cols="50"
                class="form-control"
                placeholder="description"
                ng-model="goal.description"></textarea>
        </div>

        <autocomplete ng-model="goal.category.title" data="categories" on-type="updateCategories" attr-placeholder="category" attr-inputclass="form-control" >
         </autocomplete>
        <br/>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-check"></i>&nbsp Update
        </button>
        <button class="btn btn-warning">
            Close
        </button>

    </form>
</div>