<div id="add_goal_form">
    
    <form ng-submit="addGoal()">
        <span class="modal_errors" ng-if="errors.title"> Title {{errors.title[0]}}</span>
        <div class="form-group">
            <input type="text"
                class="form-control"
                placeholder="Title"
                ng-model="title"></input>
        </div>

        <span class="modal_errors" ng-if="errors.description">Description {{errors.description[0]}}</span>
        <div class="form-group">
            <textarea type="text"
                rows="4" cols="50"
                class="form-control"
                placeholder="description"
                ng-model="description"></textarea>
        </div>
        <span class="modal_errors" ng-if="errors.category_errors.title">Category {{errors.category_errors.title[0]}}</span>
         <autocomplete ng-model="category.title" data="categories" on-type="updateCategories" attr-placeholder="category" attr-inputclass="form-control">
         </autocomplete>
      
        <button type="submit" class="btn btn-primary">Goal</button>
    </form>

</div>