

/////////////////

.goal_listing.ng-enter, 
.goal_listing.ng-leave
{ 
  -webkit-transition:all linear 0.3s;
  -moz-transition:all linear 0.3s;
  -ms-transition:all linear 0.3s;
  -o-transition:all linear 0.3s;
  transition:all linear 0.3s;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 
 
.goal_listing.ng-leave.goal_listing.ng-leave-active,
.goal_listing.ng-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}
 
.goal_listing.ng-enter.goal_listing.ng-enter-active, 
.goal_listing.ng-leave {
    opacity: 1;
    width: 100%;
    height: 150px;
}

//////////////////////
.view-animate-container {
  position:relative;
  height:85vh !important;
  background:white;
  height:100%;
  overflow: auto;
  overflow-x: hidden;

}

.slide_from_top {
  padding:10px;
}

.slide_from_top.ng-enter, .slide_from_top.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;
  /*border-bottom:1px solid black;*/

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.slide_from_top.ng-enter {
  top:-100%;
}
.slide_from_top.ng-enter.ng-enter-active {
  top:0;
}
.slide_from_top.ng-leave.ng-leave-active {
  top:100%;
}

/*  in goals controller */


/* slide between goals to right */
.slide_right {
  padding:10px;
}

.slide_right.ng-enter, .slide_right.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.slide_right.ng-enter {
  left:-100%;
}
.slide_right.ng-enter.ng-enter-active {
  left:0;
}
.slide_right.ng-leave.ng-leave-active {
  left:100%;
}


/* slide to left */

.slide_left {
  padding:10px;
}

.slide_left.ng-enter, .slide_left.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.slide_left.ng-enter {
  left:100%;
}
.slide_left.ng-enter.ng-enter-active {
  left:0;
}
.slide_left.ng-leave.ng-leave-active {
  left:-100%;
}