// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-title{
  padding-bottom: 10px;  
}

.thumbnail-left{
  padding-left: 10px;
  padding-bottom: 10px;

  h3 {
    margin-top: 5px;
  }

  p {
    padding-bottom: 10px;
  }

}

.thumbnail-right{
  padding-right: 0px;
  height: 100%;
  .btn {
    height: 100%;
  }
}

#add-goal-form{
  display: none
}

#loading-bar-spinner {
    display: block;
    position: fixed;
    left: calc(50% - 70px);
    top: calc(50% - 70px);
    width: 1000px;
    height: 1000px;
    z-index: 1049;
}

#loading-bar-spinner .spinner-icon {
    width: 70px;
    height: 70px;
    border: solid 8px transparent;
    border-top-color: #428BC7;
    border-left-color: #428BC7;
    border-radius: 5px;
}