<!DOCTYPE html>
<html>
<head>
  <title>ToDoEr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head> 

<body ng-app="todoer">

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <span class="navbar-brand" href="#">
	        ToDo list 
	      </span>
	    </div>

		<ul class="nav navbar-nav">
		   <li><a href="#">Goals</a></li>
		</ul>
		<div ng-include="'nav/_nav.html'"></div>
	  </div>
	</nav>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		  <ui-view></ui-view>
		</div>
	</div>

</body>
</html>
